{{ form_start(form, {'attr': {'class': 'movie-form'}}) }}
    <div class="form-group">
        {{ form_label(form.title, 'Titre du film', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le titre du film'}}) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la description du film', 'rows': '4'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.releaseyear, 'Année de sortie', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.releaseyear, {'attr': {'class': 'form-control', 'placeholder': 'Entrez l\'année de sortie'}}) }}
        {{ form_errors(form.releaseyear) }}
    </div>

    <div class="form-group">
        {{ form_label(form.duration, 'Durée (heures)', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.duration, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la durée en heures '}}) }}
        {{ form_errors(form.duration) }}
    </div>

    <div class="form-group">
        {{ form_label(form.rating, 'Note', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.rating, {'attr': {'class': 'form-control', 'placeholder': 'Donnez une note de 1 à 5'}}) }}
        {{ form_errors(form.rating) }}
    </div>

    <div class="form-group">
        {{ form_label(form.director, 'Réalisateur', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.director, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom du réalisateur'}}) }}
        {{ form_errors(form.director) }}
    </div>

    <div class="form-group">
    {% if form.parent.vars.value.Url is defined and form.parent.vars.value.Url is not empty %}
        <div class="movie-image-container">
            <img src="{{ form.parent.vars.value.Url }}" alt="Image du film" class="movie-image" style="max-width: 100px; max-height: 100px;">
        </div>
    {% endif %}
    
    {{ form_label(form.Url, 'Url', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.Url, {'attr': {'class': 'form-control', 'placeholder': 'Entrez l\'URL de l\'image'}}) }}
    {{ form_errors(form.Url) }}
</div>

    <button class="btn-submit">
        <i class="fas fa-save"></i> {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}